


<div id="banner" onclick="javascript:window.open(window.clickTag);">
	<div class="outline"></div>
	
	<div class="frame frame1">
		
		<img class="bg retina" src="../_common/images/MARCH1/<%= size %>/bg.jpg" />
		
		<img class="retina proline1" src="../_common/images/MARCH1/<%= size %>/frame1-proline.png" />


		<img class="retina t1 t1a" src="../_common/images/MARCH1/<%= size %>/<%= name %>/frame1a.png" />
		<img class="retina t1 t1b" src="../_common/images/MARCH1/<%= size %>/<%= name %>/frame1b.png" />



		<!-- <img class="retina frame2 frame2a" src="../_common/images/MARCH1/<%= size %>/frame2a.png" />
		<img class="retina frame2 frame2b" src="../_common/images/MARCH1/<%= size %>/frame2b.png" /> -->

		


		<img class="retina frame3" src="../_common/images/MARCH1/<%= size %>/frame3.png" />


		<img class="retina frame4 proline2" src="../_common/images/MARCH1/<%= size %>/frame4-proline.png" />
		<img class="retina frame4 text-end" src="../_common/images/MARCH1/<%= size %>/frame4-text.png" />
		<img class="retina cta" src="../_common/images/MARCH1/<%= size %>/frame4-cta.png" />
		<img class="retina footer" src="../_common/images/MARCH1/<%= size %>/frame4-footer.png" />

		<!-- <img class="retina end" src="../_common/images/MARCH1/<%= size %>/<%= name %>/__.png" /> -->
	</div>	
	
	
	<% include ./_end %>
</div>

